.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #dddddd;
  display: block;
  transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn-container {
  display: flex;
  justify-content: flex-end;
  padding: 14px 14px 0 0;
}

.sidenav .closebtn {
  font-size: 36px;
  padding: 0 20px;
  border: 1px solid;
  border-radius: 13px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#burger {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 2rem;
  margin-top: 1rem;
}

:host /deep/ .ng-sidebar {
  background: #102744;
  min-width: 250px;
}
