<nav class="navbar" id="nav">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" routerLink="/">Home</a></li>
      <li class="navbar-item"><a class="navbar-link" routerLink="/lessons">EDT Lessons</a></li>
      <li class="navbar-item"><a class="navbar-link" routerLink="/services">Our Services</a></li>
      <li class="navbar-item"><a class="navbar-link" routerLink="/pricing">Pricing</a></li>
      <li class="navbar-item"><a class="navbar-link" routerLink="/contact">Contact Us</a></li>
    </ul>
  </div>
</nav>
