<div class="home-img">
  <div class="logo">
    <img src="../assets/logo_two.png" alt="">
    <span>Welcome to Cedar Driving School</span>
  </div>
</div>
<div class="container">
  <div class="logo-container"></div>
  <section class="header">
    <div class="value-props row">
      <div class="four columns top-items">
          <span style="font-size: 96px; color: #2b653c;">
            <i class="ion-android-person"></i>
          </span>
        <span>Over 20 years of driving instruction</span>
      </div>
      <div class="four columns top-items">
          <span style="font-size: 96px; color: #a02e25;;">
            <i class="ion-model-s"></i>
          </span>
        <span>Up to date modern Car with dual controls</span>
      </div>
      <div class="four columns top-items">
          <span style="font-size: 96px; color: #1d375a;">
            <i class="ion-location"></i>
          </span>
        <span>Located in North Dublin</span>
      </div>
    </div>
  </section>
  <div class="social-fb">
    <a href="https://www.facebook.com/CedarDS" target="_blank">
      <span><i class="ion-social-facebook"></i></span>
    </a>
  </div>
  <sidenav></sidenav>
  <navbar></navbar>
  <router-outlet></router-outlet>

</div>

<div class="footer u-full-width">
  <div class="container">
    <div class="row">
      <span>
        <a routerLink="/">Home</a> |
        <a routerLink="/lessons">EDT Lessons</a> |
        <a routerLink="/services">Our Services</a> |
        <a routerLink="/pricing">Pricing</a> |
        <a routerLink="/contact">Contact Us</a>
      </span>
    </div>
    <br/>
    <div class="row">
      <div class="nine columns">
        <span>Copyright © {{year}} Cedar Driving School – All rights reserved.</span>
      </div>
      <div class="three columns">
        ADI Number: 37729
      </div>
    </div>
  </div>
</div>
