<div class="docs-section">
  <h4 class="docs-header">Gift Voucher</h4>



  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
  <div class="docs-example">
    <form [formGroup]="giftVoucherForm" (ngSubmit)="captchaRef.execute()">
      <div class="row">
        <div class="eight columns">
          <form>
            <div class="row">
              <label>Lesson Type *</label>
              <select class="u-full-width" required>
                <option *ngFor="let subject of prices" value="{{subject}}">{{subject.lesson_type + ' - €' + subject.price}}</option>
              </select>
            </div>
            <div class="row">
              <div class="six columns">
                <div>
                  <label>First Name  *</label>
                  <input class="u-full-width" type="text" placeholder="First Name" formControlName="firstName">
                </div>
                <div>
                  <label>Phone Number *</label>
                  <input class="u-full-width" type="tel" placeholder="Phone Number" formControlName="number" required>
                </div>
              </div>
              <div class="six columns">
                <div>
                  <label>Last Name  *</label>
                  <input class="u-full-width" type="text" placeholder="Last Name" formControlName="lastName">
                </div>
                <div>
                  <label>Email </label>
                  <input class="u-full-width" type="email" placeholder="Email" formControlName="email">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="four columns">
          <table class="u-full-width">
            <thead>
            <tr>
              <th>Lessons</th>
              <th>Price (Euro)</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let price of prices" data-scroll>
              <td>{{price.lesson_type}}</td>
              <td>&euro;{{price.price}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <payment-request
          [amount]="2300"
          [label]="'Your Awesome Product!'">
        </payment-request>
      </div>
    </form>
  </div>
</div>
