<div class="docs-section">
  <h4 class="docs-header">EDT Lessons</h4>
  <h5>Essential Driver Training</h5>
  <p>If you are not required to complete EDT, you may still choose to take an EDT course, as it can help increase
    your chances of passing the driving test and will help make you a better safer driver.</p>
  <p>We provide EDT lessons to students at all stages of their EDT training.</p>
  <p>If the issue date of your first B category (Car) learner permit is on or after 4 April 2011, in order to be
    able to sit your full driving test, you must first complete all EDT lessons.</p>
  <h5>What is Essential Driver Training?</h5>
  <p>There are 12 lessons in total which cover many aspects of driving that you will need to complete successfully
    in order to prepare for your driving test which include:</p>

  <ul>
    <li *ngFor="let lesson of lessons; let i = index;">LESSON {{i+1}}: {{lesson}}</li>
  </ul>
</div>
