<div class="docs-section">
  <h4 class="docs-header">Useful Links</h4>

  <h5><a routerLink="/road-signs">Road Signs</a></h5>
  <h5><a target="_blank" href="https://ccwdriver.rsa.ie/driver/driverlogin.aspx">My EDT</a></h5>


  <h5>RSA Videos</h5>

  <div class="u-full-width">
    <div class="row">
      <div class="six columns">
        <iframe src="https://www.youtube.com/embed/K-MZ_DAEpgI?rel=0&amp;controls=0" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="six columns">
        <iframe src="https://www.youtube.com/embed/VqkAOClmpko?rel=0&amp;controls=0" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <iframe src="https://www.youtube.com/embed/W4eMWyVTwfI?rel=0&amp;controls=0" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="six columns">
        <iframe src="https://www.youtube.com/embed/pQzQWZ1_eBw?rel=0&amp;controls=0" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
