<div class="docs-section" id="intro">
  <h4 class="docs-header">Pricing</h4>

  <div class="payment-cards">
    <p>Following payment methods accepted in car:</p>
    <img src="../../../assets/cc-visa.svg" alt="visa logo">
    <img src="../../../assets/cc-mastercard.svg" alt="master card logo">
  </div>
  <div class="pricing-row">
    <pricing-info *ngFor="let price of prices1" [title]="price.title" [subtitle]="price.subtitle" [price]="price.price" [content]="price.content"></pricing-info>
  </div>

</div>
