<div class="docs-section" id="intro">
  <h4 class="docs-header">Pricing</h4>

  <div class="payment-cards">
    <p>Following payment methods accepted in car:</p>
    <img src="../../../assets/cc-visa.svg" alt="visa logo">
    <img src="../../../assets/cc-mastercard.svg" alt="master card logo">
  </div>
  <div style="display: flex; justify-content: space-between; padding: 50px 0;">
    <pricing-info title="Lesson" subtitle="1 hour" price="35" content="['test', 'test']"></pricing-info>
    <pricing-info title="Lesson" subtitle="1.5 hours" price="45" content="['test', 'test']"></pricing-info>
    <pricing-info title="Lesson" subtitle="6 hours" price="190" content="['test', 'test']"></pricing-info>
  </div>

</div>
