<div class="docs-section" id="intro">
  <h4 class="docs-header">Pricing</h4>

  <div class="payment-cards">
    <p>Following payment methods accepted in car:</p>
    <img src="../../../assets/cc-visa.svg" alt="visa logo">
    <img src="../../../assets/cc-mastercard.svg" alt="master card logo">
  </div>

  <table class="u-full-width">
    <thead>
    <tr>
      <th>Lesson Type</th>
      <th>Price (Euro)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let price of prices" data-scroll>
      <td>{{price.lesson_type}}</td>
      <td>&euro;{{price.price}}</td>
    </tr>
    </tbody>
  </table>
</div>
