<div class="docs-section">
  <h4 class="docs-header">Our Services</h4>
  <ul>
    <li>RSA and ADI approved instructors</li>
    <li>Pre-test, EDT and motorway driving courses</li>
    <li>Lessons available 7 days a week</li>
    <li>School car available for lessons and driving test (Opel Corsa with dual controls)</li>
    <li>Door to door pick up and drop off available</li>
    <li>Discounted student rates</li>
    <li>Discounts available for block booking</li>
    <li>Gift vouchers available!</li>
  </ul>
</div>
